body,html{
    height: 100%;
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
}
main{
    text-shadow: 3px 3px 2px black;
    margin-top: 100px;
}
.main-text{
  font-size: 80px;
}
.second-text{
    font-size: 25px;
    text-shadow: 3px 3px 2px black;
}
h5{
  text-shadow: 0;
}
.about-us{
  font-size: 25px;
}
p{
  color: rgb(255, 255, 255);
}
.form-group{
  margin-top: 15px;
}
.btn-outline-success{
  color: rgb(255, 255, 255);
}
.btn-sm{
  color: rgb(255, 255, 255);
  border-color: #28a746;;
}
.btn-sm:hover{
  background-color: #28a746;
  border-color: #28a746;;
}
main button.btn{
    margin-top: 150px;
    background:#28a746;;
    color:rgb(255, 255, 255);
    border:none;
    position:relative;
    width: 328PX;
    height:84px;
    font-size: 32px;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  main button:hover{
    background:rgb(255, 255, 255);
    color:#1AAB8A;
  }
  main button:before, main button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  main button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  main button:hover:before, main button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  footer{
      margin-top: 230px;
  }
  .footer-about-us{
    margin-top: 440px;
  }
